<%- include('layout') %>

<h1><%= title %></h1>
<p>
	Welcome to <em>LocalLibrary</em>, a very basic Express website developed as a
	tutorial example on the Mozilla Developer Network.
</p>

<h2>Dynamic content</h2>

<p>The library has the following record counts:</p>

<ul>
	<li><strong>Movies:</strong> <%= movie_count %></li>
	<li><strong>Directors:</strong> <%= director_count %></li>
	<li><strong>Genres:</strong> <%= genre_count %></li>
</ul>
